.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Your code here */

#topban {
  text-align: center;
}

#leftbar {
  display: inline-block;
  vertical-align: top;
  
}


#rightbar {
  display: inline-block;
  vertical-align: top;
}

#center {
  display: inline-flex;
  border: solid 1px;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 50px;
}

/* #class .txt a{
  margin-left: 40px;
} */

#h4 {
  margin-left:;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  justify-content: center;
}