.upper__left {
    width: 16px;
    height: 16px;
}

.upper__right {
    display: inline-block;
    
    text-decoration: none;

    float: right;
}

.upper__right a{

    text-decoration: none;
    color: rgb(75, 122, 75);
}

.get-started {
    border: solid rgb(75, 122, 75);
    border-radius: 5px;
    padding: 5px;
    margin-left: 8px;
}

.nav__lower {
    text-decoration: none;
    display:flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.nav__lower  a{
    text-decoration: none;
    color: gray
   
}

.nav__upper {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.content {
    margin-left:auto;
    margin-right:auto;
    width: 50%;
   
}

h1 {
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.footer__left {
    height: 16px;
}

.footer__right {
    display: inline-block;
    
    text-decoration: none;

    float: right;
}

.footer {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.footer a{
    text-decoration: none;
    padding: 3px;
    color: gray;
}