.upper__left {
    width: 16px;
    height: 16px;
}

.upper__right {
    display: inline-block;
    color: rgb(75, 122, 75);
    text-decoration: none;

    float: right;
}

.get-started {
    border: solid rgb(75, 122, 75);
    border-radius: 5px;
    padding: 5px;
    margin-left: 8px;
}

.nav__lower {
    text-decoration: none;
    display:flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
